{% extends "main/base.html" %}

{% block title %}
    Customer View Template
{% endblock %}

{% block navbar %}
<style>
    a {
      font-size:14px;
      font-weight:700
    }
    .superNav {
      font-size:13px;
    }
    .form-control {
      outline:none !important;
      box-shadow: none !important;
    }
    @media screen and (max-width:540px){
      .centerOnMobile {
        text-align:center
      }
    }
    strong {
      color: black;
    }
    #Logo {
      font-size : 2em;
    }

</style>
<div class="superNav border-bottom py-2 bg-warning">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
          
          <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>info@somedomain.com</strong></span>
          <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong >1-800-123-1234</strong></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
          <span class="me-3"><i class="fa-solid fa-file  text-muted me-2"></i><a class="text-muted" href="/logout">Logout</a></span>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-danger sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/home"><i class="fa-solid fa-shop"></i> <strong id="Logo">Katlyn Cinema</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
        
      </div>
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="/">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/TicketsPurse">MY Tickets</a>
          </li>
         
          {% if user.is_authenticated and user.user_type_id != 1 %}
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/manager_home">ManagerHome</a>
          </li>
          {% endif %}

          {% if user.is_authenticated and user.user_type_id == 3 %}
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/admin">Admin</a>
          </li>
          {% endif %}
        <!--  
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">About</a>
          </li> -->
        </ul>
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/ticketcart"><i class="fa-solid fa-cart-shopping me-1"></i> Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-circle-user me-1"></i> Account</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

